.img-container {
  height: 8rem;
  width: 80%;
  cursor: pointer;
}

.body {
  background-color: #f89404;
}

.hh-bg {
  background-color: #ceca4d;
}

.img-hover-zoom {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}

.img-container:hover .img-hover-zoom,
.img-container:focus .img-hover-zoom {
  transform: scale(1.2);
}

.img-text {
  background-color: transparent;
  color: white;
  font-weight: 300;
  text-align: center;
}
