<div class="body pt-4">
  <div class="d-flex justify-content-start align-items-center w-100">
    <button class="left ms-3" (click)="this.goBack()">
      <i class="bi bi-arrow-left"></i>
    </button>
  </div>


<div class="body pt-4">
<p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true">
  <ng-template pTemplate="item" let-item>
    <img 
      [src]="item.productImage" 
      alt="Imagen" 
      class="background-image"
      (click)="seeProduct(item)"
    />
  </ng-template>
</p-carousel>





<div class="row justify-content-center g-3 mt-2 px-3 pb-6">
  @for (item of this.products; track $index) {
    <div class="col-12">
      <div 
        class="custom-card p-4 text-white rounded-4 shadow-sm position-relative overflow-hidden cursor-pointer"
        (click)="this.seeProduct(item)">
        <div class="card-bg-pattern"></div>
        <div class="card-content position-relative z-1">
          <h3 class="fw-bold mb-0 fs-3">{{ item.name }}</h3>
        </div>
      </div>
    </div>
  }
</div>


</div>
<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [showHeader]="false"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-card>
    <ng-template pTemplate="header">
      <div
  class="img-hover-zoom bg-image d-flex justify-content-center align-items-start"
  [style.background-image]="'url(' + (this.selectedProduct?.productImage || 'https://elsombrerodejalisco.com/images/app/defaultimage.png') + ')'"
  style="
    height: 20rem;
    overflow: hidden;
    background-color: white;
    background-position: center;
    background-size: cover;
  "
      >
        <div
          class="d-flex justify-content-between align-items-center w-100 m-2"
        >
          <div>
            <i class="bi bi-x icon" (click)="this.closeModal()"></i>
          </div>
          <div>
            <i
              class="bi bi-heart-fill icon"
              [ngClass]="{'fav': this.isFav}"
              (click)="this.toggleFav()"
            ></i>
          </div>
        </div>
      </div>
      <!-- <img
        alt="Card"
        src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
      /> -->
    </ng-template>
    <div class="row">
      <div class="col-9 d-flex justify-content-start align-items-center">
        <h2>{{this.selectedProduct?.name}}</h2>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <h2>{{this.selectedProduct?.price}}</h2>
      </div>
      @if (!!this.selectedProduct?.description?.length) {
      <div class="col-12">
        <span style="color: #dca7ca">Description</span>
        <p class="text-description mt-2">
          {{this.selectedProduct?.description}}
        </p>
      </div>
      }
      <!--{idProduct: 2, name: 'HUEVOS A LA MEXICANA', description: '2 eggs scrambled with pico de gallo', price: '$0.00', productImage: null}-->
    </div>
    <p></p>
  </p-card>
</p-dialog>
