<div class="body pt-4">
  <div class="d-flex justify-content-start align-items-center w-100">
    <button class="left ms-3" (click)="this.goBack()">
      <i class="bi bi-arrow-left"></i>
    </button>
  </div>

<div class="product-card">
  <div class="image-container">
    @for (item of this.categories; track $index) {
      @if (item.description && item.description.trim() !== '') {
        <div class="category-item">
          <h1>{{item.description}}</h1>
        </div>
      }
    }
  </div>
</div>

<div class="row justify-content-center g-3 mt-2 px-3">
  @for (item of this.categories; track $index) {
      <div class="col-12">
        <div 
          class="custom-card p-4 text-white rounded-4 shadow-sm position-relative overflow-hidden cursor-pointer"
          (click)="this.seeProduct(item.products)">
          
          <div class="card-bg-pattern"></div>
          
          <div class="card-content position-relative z-1">
            <h3 class="fw-bold mb-2 fs-1">{{ item.name }}</h3>
          </div>

        </div>
      </div>
  }
</div>


</div>
