<div class="body pt-4">
<div class="text-center w-100 my-4">
  <h2 class="fw-bold text-dark fs-2 mb-1">Favorites</h2>
  <div class="bg-primary mx-auto rounded-pill" style="width: 40px; height: 4px;"></div>
</div>

  @if (!loading && favProducts.length === 0) {
    <div class="d-flex flex-column justify-content-center align-items-center mt-5">
      <i class="bi bi-heart" style="font-size: 3rem; color: #ccc;"></i>
      <p class="mt-2" style="color: #999;">No favorites yet</p>
    </div>
  }

<div class="row justify-content-center g-3 mt-2 px-3 pb-6">
  @for (item of favProducts; track item.idProduct) {
    <div class="col-12">
      <div 
        class="custom-card p-4 text-white rounded-4 shadow-sm position-relative overflow-hidden cursor-pointer"
        (click)="seeProduct(item)">
        <div class="card-bg-pattern"></div> 
        <div class="card-content position-relative z-1">
          <h3 class="fw-bold mb-2 fs-1">{{ item.name }}</h3>
        </div>
      </div>
    </div>
  }
</div>
</div>

<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [showHeader]="false"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-card>
    <ng-template pTemplate="header">
      <div
        class="img-hover-zoom bg-image d-flex justify-content-center align-items-start"
        [style.background-image]="'url(' + (selectedProduct?.productImage || 'https://elsombrerodejalisco.com/images/app/defaultimage.png') + ')'"
        style="height: 20rem; overflow: hidden; background-color: white; background-position: center; background-size: cover;"
      >
        <div class="d-flex justify-content-between align-items-center w-100 m-2">
          <div>
            <i class="bi bi-x icon" (click)="closeModal()"></i>
          </div>
          <div>
            <i
              class="bi bi-heart-fill icon"
              [ngClass]="{'fav': isFav}"
              (click)="toggleFav()"
            ></i>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="row">
      <div class="col-9 d-flex justify-content-start align-items-center">
        <h2>{{ selectedProduct?.name }}</h2>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <h2>{{ selectedProduct?.price }}</h2>
      </div>
      @if (!!selectedProduct?.description?.length) {
        <div class="col-12">
          <span style="color: #dca7ca">Description</span>
          <p class="text-description mt-2">{{ selectedProduct?.description }}</p>
        </div>
      }
    </div>
    <p></p>
  </p-card>
</p-dialog>
