/* You can add global styles to this file, and also import other style files */
html {
   background-color: #FAF3E0; 

}

body {
   overflow-x: hidden;
   background-color: #FAF3E0; 
   padding-bottom: calc(100px + env(safe-area-inset-bottom)) !important;
}

.p-dialog .p-dialog-content {
  padding: 0;
}

.p-card .p-card-content {
  padding: 0;
}
